<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="~{layout :: head}">
</head>
<header th:include="~{layout :: header}"></header>

<body>
<div id="contenu">
<div class=col-md-6>
   <div class="panel panel-primary">
     <div class="panel-heading">Probléme d'autorisation</div>
     <div class="panel-body">
     
       <div class="red"> 
       Vous n'avez pas le droit d'acceder à cette ressources
       </div>
    
     
     </div>
   </div>

</div>


</div>
</body>

<footer th:include="~{layout :: footer}"></footer>

</html>